
@{ 
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Login | Caixa Assistência</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta content="Premium Multipurpose Admin & Dashboard Template"
          name="description" />
    <meta content="Themesbrand" name="author" />
    <!-- App favicon -->
    <link rel="shortcut icon" href="assets/images/favicon.png" />

    <!-- Bootstrap Css -->
    <link href="assets/css/bootstrap.min.css"
          id="bootstrap-style"
          rel="stylesheet"
          type="text/css" />
    <!-- Icons Css -->
    <link href="assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="assets/css/app.min.css"
          id="app-style"
          rel="stylesheet"
          type="text/css" />

     
</head>

<body>
    <div class="home-btn d-none d-sm-block">

    </div>
    <div class="account-pages my-5 pt-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-6 col-xl-4">
                    <div class="card overflow-hidden">
                        <div class="bg-primary bg-primary-login" style="background-color: #006bae !important">
                            <div class="text-primary text-center p-4">
                                <img src="~/assets/images/logocaixa.png" style="max-width: 200px; margin-bottom: 10px" />
                                <h5 class="text-white font-size-20">Bem-vindo!</h5>
                                <p class="text-white">
                                    Faça login para acessar o painel
                                </p>
                            </div>
                        </div>

                        <div class="card-body p-4">
                            <div class="p-3">
                                <form class="mt-4" action="index.html">
                                    <div class="mb-3">
                                        <label class="form-label" for="username">Usuario</label>
                                        <input type="text"
                                               class="form-control"
                                               id="login"
                                               placeholder="E-mail" />
                                    </div>

                                    <div class="mb-3">
                                        <label class="form-label" for="userpassword">Senha</label>
                                        <input type="password"
                                               class="form-control"
                                               id="senha"
                                               placeholder="Senha" />
                                    </div>

                                    <div class="mb-3 row">
                                        <div class="col-sm-12">
                                            <button style="color: #fff !important; background-color: #f7941e !important; border-color: #f7941e !important; " type="button" id="btnEntrar" class="btn btn-primary w-md waves-effect waves-light">
                                                Entrar
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- JAVASCRIPT -->
    <script src="../assets/libs/jquery/jquery.min.js"></script>
    <script src="../assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../assets/libs/metismenu/metisMenu.min.js"></script>
    <script src="../assets/libs/simplebar/simplebar.min.js"></script>
    <script src="../assets/libs/node-waves/waves.min.js"></script>

    <script src="../assets/js/app.js"></script>
    <script src="../assets/js/comum.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
        $("#btnEntrar").on("click", function () {

            comum.get("Fornecedor/GetFornecedor") {

                if (data) {
                    console.log(data)                 
                }
            });


        });
    </script>

</body>
</html>
