<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="url" value="http://localhost:8080/api/alerta/inseremensagem"/>
		<add key="usuario" value=""/>
		<add key="ambiente" value="_dev"/>
	</appSettings>
	<connectionStrings>
		<add name="MySqlConnectionString" connectionString="Server=dbdev.brikk.com.br; Port=3306; Database=bsk_brikk; Uid=admin; Pwd=cM%X(mFgCMZKcIeKQyoVNdoh.E)IU3lm;Connect Timeout=30;" />
	</connectionStrings>
</configuration>