<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="url" value=""/>
    <add key="usuario" value=""/>
    <add key="ambiente" value="_dev"/>
  </appSettings>
  <connectionStrings>
	  <add name="MySqlConnectionString" connectionString="Server=argos-net.nethorizontes.com.br;Port=3306;Database=bsk_brikk;Uid=AreaCompra;Pwd=Brasuka@2014;default command timeout=0;" />
    <!--<add name="MySqlConnectionString" connectionString="Server=192.168.15.244;Port=3306;Database=;Uid=;Pwd=;default command timeout=0;" />-->
  </connectionStrings>
</configuration>